<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Spotify Constellation</title>
  <meta name="description" content="Make a constellation out of your spotify top ten tracks - Ekaansh Arora">
  <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
  <meta name="author" content="Ekaansh Arora" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <link rel="stylesheet" media="screen" href="/teststyle.css">
  <meta name="theme-color" content="#000">
  <meta name="msapplication-navbutton-color" content="#000">
  <meta name="apple-mobile-web-app-status-bar-style" content="#000">
</head>

<body>
  <h1>
    Spotify Constellation
  </h1>
  <a id="save">
    (Download png)
  </a>
  <!-- particles.js container -->
  <div id="particles-js"></div>
  <div id="bg-layer-0"></div>
  <canvas id="canvas-save"></canvas>
  <script>
    let titleArray = [];
        {{#each tracks}}
          titleArray.push("{{this}}");
        {{/each}}
    let artistArray = [];
        {{#each artists}}
          artistArray.push("{{this}}");
        {{/each}}
  </script>
  <!-- scripts -->
  <script src="/particles.js"></script>
  <script src="/particles.min.js"></script>
  <script src="/app.js"></script>
  <script>
    function saveCanvas()
    {
      var canvasList = document.getElementsByClassName("particles-js-canvas-el");
      var canvas = document.getElementById("canvas-save");
      canvas.width  = canvasList[0].width;
      canvas.height = canvasList[0].height;
      var ctx = canvas.getContext("2d");
      ctx.fillRect(0, 0, canvasList[0].width, canvasList[0].height);
      ctx.drawImage(canvasList[0],0,0);
      ctx.drawImage(canvasList[1],0,0);
    }
    function downloadCanvas(link, canvasId, filename) {
      link.href = document.getElementById(canvasId).toDataURL();
      link.download = filename;
    }
    document.getElementById('save').addEventListener('click', function() {
      saveCanvas();  
      downloadCanvas(this, 'canvas-save', 'spotify-constellation.glitch.me.png');
    }, false);
    
  </script>
  
</body>

</html>