<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Songstellation</title>
  <script src="https://github.com/thenextweb/constellation/releases/download/v1.5.5/constellation.min.js"></script>
  <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
</head>

<body>
  <style>
    html {
      background-color: black;
      color: white
    }

    body {
      margin: 0
    }

    #canvas-layer-0 {
      z-index: -1;
      position: absolute;
      top: 0
    }

    #canvas-layer-1 {
      z-index: 1;
      position: absolute;
      top: 0
    }

    #canvas-layer-2 {
      z-index: 2;
      position: absolute;
      top: 0
    }

    #can {
      z-index: 3;
      margin: 0 5vw 0 5vw;
    }

    h1 {
      text-align: center;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
  </style>
  <canvas id="canvas-layer-0"></canvas>
  <canvas id="canvas-layer-1" width="1000"></canvas>
  <canvas id="canvas-layer-2" width="1000"></canvas>
  <header>
    <h1 id="page-title">
      Song Constellation
    </h1>
  </header>
  <main>
    <div>
      <canvas id="can" width="900">
      </canvas>
    </div>
    <script>
      var w = Math.max(document.documentElement.clientWidth, window.innerWidth || 0);
      var h = Math.max(document.documentElement.clientHeight, window.innerHeight || 0);
      var c = document.getElementById("canvas-layer-0");
      c.height = h;
      c.width = w;
      var ctx = c.getContext("2d");
      var grd = ctx.createLinearGradient(0, 0, w, h);
      grd.addColorStop(0, "#020715");
      grd.addColorStop(1, "#101025");
      ctx.fillStyle = grd;
      ctx.fillRect(0, 0, w, h);

      var songTitles = [];
        {{#each message}}
          songTitles.push("{{this}}");
        {{/each}}
      
      var isMobile = {
        Android: function() {
          return navigator.userAgent.match(/Android/i);
        },
        BlackBerry: function() {
          return navigator.userAgent.match(/BlackBerry/i);
        },
        iOS: function() {
          return navigator.userAgent.match(/iPhone|iPad|iPod/i);
        },
        Opera: function() {
          return navigator.userAgent.match(/Opera Mini/i);
        },
        Windows: function() {
          return navigator.userAgent.match(/IEMobile/i);
        },
        any: function() {
          return (isMobile.Android() || isMobile.BlackBerry() || isMobile.iOS() || isMobile.Opera() || isMobile.Windows());
        }
      };
      var fontSize="20px",
      starSizeAfterCheck1=1,
      starSizeAfterCheck2=2,
      starSizeAfterCheck3=3,
      lineSizeAfterCheck=1,
      speedAfterCheck=0.06;
      if(isMobile.any())
      {
        fontSize="35px";
        starSizeAfterCheck1=2.5;
        starSizeAfterCheck2=1.5;
        starSizeAfterCheck3=7;
        lineSizeAfterCheck=3;
        document.getElementById("page-title").style.fontSize = "4em";
        document.getElementById("page-title").style.marginTop = "2em";
        speedAfterCheck=0.1
      }
      function writeText(x, y, text, ctx) {
        ctx.font = fontSize+" sans-serif";
        ctx.fillStyle = "white";
        ctx.textAlign = "center";
        ctx.shadowBlur = 0;
        ctx.fillText(text, x, y + 20);
      }

      var constellationInstance1 = window.constellation({
        size: [w, h],
        canvas: document.getElementById('canvas-layer-1'),
        padding: [-50, -50],
        starCount: 200,
        lineCount: 0,
        fuzziness: 10,
        speed: {
          active: 0,
          passive: speedAfterCheck
        },
        style: {
          starColor: '#fff',
          lineColor: 'rgba(255,255,255,.5)',
          lineSize: 1,
          starPadding: 0,
          starSize: starSizeAfterCheck1
        },
        afterStar: (ctx, style, star) => {
          ctx.shadowBlur = 7;
          ctx.shadowColor = "white";
        }
      });

      var canvas = document.getElementById('can');
      var aspectRatio = 0.7;
      canvas.height = canvas.width * aspectRatio;

      var constellationInstance2 = window.constellation({
        size: [canvas.width, canvas.height],
        canvas: document.getElementById('canvas-layer-2'),
        padding: [-50, -50],
        starCount: 100,
        lineCount: 0,
        fuzziness: 10,
        speed: {
          active: 0,
          passive: speedAfterCheck
        },
        style: {
          starColor: '#fff',
          lineColor: 'rgba(255,255,255,.5)',
          lineSize: 1,
          starPadding: 0,
          starSize: starSizeAfterCheck2
        },
        afterStar: (ctx, style, star) => {
          ctx.shadowBlur = 15;
          ctx.shadowColor = "white";
        }
      });
      var constellationInstance = window.constellation({
        size: [w - 50, h - 50],
        canvas: document.getElementById('can'),
        padding: [100, 100],
        starCount: 10,
        lineCount: 15,
        fuzziness: 10,
        speed: {
          active: 0,
          passive: speedAfterCheck
        },
        style: {
          starColor: '#fff',
          lineColor: 'rgba(255,255,255,.5)',
          lineSize: lineSizeAfterCheck,
          starPadding: 0,
          starSize: starSizeAfterCheck3
        },
        onDraw: {
          afterFrame: (ctx, style, objects) => {
            for (var i = 0; i < 10; i++)
              writeText(objects.stars[i].pos[0], objects.stars[i].pos[1], songTitles[i], ctx)
          },
          afterStar: (ctx, style, star) => {
            ctx.shadowBlur = 25;
            ctx.shadowColor = "white";
          }
        }
      });
      constellationInstance.then(() => {
        document.getElementById("can").style.width = "80vw";
        document.getElementById("can").style.height = "85vh"//"100vh"+"-"+canvas.offsetTop;
        console.log("done");
      });
    </script>
  </main>
</body>

</html>