<!DOCTYPE html>
<html>

<head>
    <title>Songstellation</title>
    <meta name="description" content="Make a constellation out of your spotify top ten tracks.">
    <meta name="author" content="Ekaansh Arora" />
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
    <meta name="theme-color" content="#121218">
    <meta name="msapplication-navbutton-color" content="#121218">
    <meta name="apple-mobile-web-app-status-bar-style" content="#121218">
</head>

<body>
  
    <div id="bg-layer-0"></div>
    <h1 id="titlehead">Songstellation</h1>
    <p id="byline">
        Generate a custom animated constellation based on your top spotify tracks. Made using 
      <a href="https://developer.spotify.com/documentation/web-api/">Spotify Web API</a> and 
      a custom version of <a href="https://vincentgarreau.com/particles.js/">particle.js</a> on 
      <a href="https://glitch.me">glitch.me</a>
    </p>
    <a href="/authorize">
        <div class="button" id="btn">Generate constellation!</div>
    </a>
  <div id="footer">
    Made with ⭐ by <a href="http://ekaansharora.github.io">Ekaansh Arora</a>
  </div>
  <script src="/particles.min.js"></script>
  <script src="/indexapp.js"></script>
  
</body>
</html>