<!DOCTYPE html>
<html>

<head>
    <title>Spotify Constellation</title>
    <meta name="description" content="Make a constellation out of your spotify top ten tracks - Ekaansh Arora">
    <meta name="author" content="Ekaansh Arora" />
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
    <meta name="theme-color" content="#000">
    <meta name="msapplication-navbutton-color" content="#000">
    <meta name="apple-mobile-web-app-status-bar-style" content="#000">
</head>

<body>
    <div id="bg-layer-0"></div>
    <h1 id="titlehead">
        Spotify Constellation
    </h1>
    <p id="byline">
        Generate a custom animated constellation based on your top spotify tracks. Made using Spotify API and
      <a href="https://github.com/thenextweb/constellation">constellation-canvas</a>
      on <a href="https://glitch.me">glitch.me</a>
    </p>
    <a href="/authorize">
        <div class="button" id="btn">Generate constellation!</div>
    </a>
  
  <div id="footer">
    Made by <a href="http://ekaansharora.github.io">Ekaansh Arora</a>
  </div>
  <script src="/particles.min.js"></script>
  <script src="/indexapp.js"></script>
</body>
</html>